@import url(https://fonts.googleapis.com/css?family=Salsa);
*{
    padding: 0;
    margin: 0;
    font-family: 'salsa';
}
html{
    scroll-behavior:smooth;
}
body{
    background-color: #dbefc78b;
}
.M-Menu{
    display: none;
}
.M-Menu a{
    text-decoration: none;
    color: white;
}
.M-Menu a:hover{
    color: #75CA1E;
}
.Navbar{
    display: flex;
    background-color: black;
    color: white;
    padding: 5px 40px 0px 40px;
    gap: 100px;
}
.N-Image{
    width: 12%;
}
.N-Image img{
    width: 100%;
}
.List ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.List{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.List li{
    position: relative;
    font-size: 20px;
    color: white;
    transition: 0.3s ease all;
}
.List li:hover{
    color: #75CA1E;
    width: 100%;
}
.List a{
    text-decoration: none;
    color: black;
}
.hide{
    display: none;
}
.Search{
    width: 8%;
    justify-content: right;
    display: flex;
    gap: 10px;
    align-items: center;
}
.Search i:nth-child(2){
    font-size: 20px;
    margin-right: 3px; 
}
.Search i:nth-child(3){
    font-size: 20px; 
    margin-right: 25px;
    transition: 0.5s ease;  
}
.Search button{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:transparent;
    color: white;
    border: none;
    font-size: 20px; 
    transition: 0.5s ease;
}
.input{
    margin-right: -25px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.5s ease all;
    width: 0;
    height: 0;
    padding: 0;
}
.input-open{
    width: 200px;
    height: 30px;
    padding: 10px;
}
.C-Image{
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.C-Image img{
    width: 100%;
    height:400px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(0.5);
}
.C-Image h2{
    font-size: 60px;
    color: white    ;
    text-align: center;
    margin: 40px 0;
}
.Icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.Inner i{
    margin-bottom: 15px;
    font-size: 25px;
    padding: 15px;
    box-shadow: 0 0 5px black;
    background-color: white;
    border-radius: 50%;
    transition: 0.5s ease;
    cursor: pointer;
}

.Inner i:hover{
    background-color: black;
    color: #75CA1E;
}
.Inner h2{
    font-size: 23px;
}
.Form{
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 5px black;
    margin: 40px auto;
    width: 90%;
    background-color: white;
}

.Tags{
    width: 100%;
    padding: 30px 40px 20px;
}
.Form-Ani{
    display: flex;
    position: relative;
}
.F-Input {
    border-radius: 10px;
    border: none;
    background-color: rgba(222, 222, 222, 0.432);
    width: 95%;
    height: 30px;
    padding: 10px;
    outline: none;
    margin-bottom: 40px;
}
.F-Input1{
    border-radius: 10px;
    border: none;
    background-color: rgba(222, 222, 222, 0.432);
    width: 95%;
    padding: 10px;
    outline: none;
    margin-bottom: 30px;
}
.Tags{
    margin-top: 15px;
}
.button{
    text-align: center;
}
.button input{
    margin-top: 0px;
    background-color: #75CA1E;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
    transition: 0.5s ease;
}
.button input:hover{
    background-color: black;
    color: #75CA1E;
}
.label {
    position: absolute;
    top: 12px;
    left: 10px; 
    transition: 0.3s ease;
    color: gray;
}
.F-Input1:focus + .label {
    top: -27px;
    color: black;   
}

.F-Input:focus + .label {
    top: -24px;
    color: black;
}
.E-Map{
    text-decoration:none; 
    overflow:hidden;
    max-width:100%;
    width:1200px;
    max-height: 1000px;
    height:auto;
}

input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.Store{
    font-size: 20px;
    line-height: 40px;
}
.F-H h4:hover{
    color:#75CA1E;
}
.F-H{
    color: white;
    background-color: black;
}
.F-H i:hover{
    color:#75CA1E;
}
.F-H h2{
    color: #75CA1E;
    font-size: 25px;
}
.F-Form{
    display: flex;
    align-items: end;
    gap: 10px;
}
.Ico{
    font-size: 18px;
    line-height: 25px;
}
.Ico button{
    color: white;
    padding: 10px 25px;
    border: 2px solid #75CA1E;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.Ico button:hover{
    background-color: white;
    color: black;
}
.Ico input{
    background-color: transparent;
    border: 2px solid #75CA1E;
    width: 160px;
    outline: none;
    color: white;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.F-Icons i{
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border:2px solid #75CA1E;
    transition: 0.5s ease;
}
.F-Icons i:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

@media (max-width:1200px) and (min-width:992px){
    .input-open{
        width: 150px;
        height: 20px;
        padding: 10px;
        margin-right: -25px;
    }
    .N-Image{
        width: 10%;
    }
    .List{
        margin-left: -20px;
        width: 100%;
    }
    .N-Image img{
        width: 150%;
    }
    .List ul{
        gap: 18px;
    }
    .List li{
        font-size: 14px;
    }
    .Search i:nth-child(2){
        font-size: 15px; 
        margin-right: 0px;  
    }
    .Search i:nth-child(3){
        font-size: 15px;  
    }
    .Search button{
        font-size: 15px; 
    }
}  
 @media (max-width:992px){
    .List{
        display: none;
    }
    .Navbar{
        padding: 5px 30px 5px 20px;
    }
    .Search{
        width: 100%;
    }
    .M-P{
        display: block;
    }
    .Navbar img{
        width: 200%;
    }
    .M-Menu{
        position: relative;
        text-align: right;
        display: block;
        z-index: 1;
        
    }
    .M-Click{
        display: none;
        width: 150px;
        font-size: 10px;
        line-height: 25px;
        background-color: black;
        padding: 20px;
        border-radius: 15px;
        position: absolute;
        right:-20px;
        top: 40px;
    }
    .M-Click h2:hover{
        color: #75CA1E;
    }
    .hide{
        margin: 0;
        display: block;
        font-size: 17px;
    }
    .Search i:nth-child(2){
        font-size: 17px;
    }
    .Search i:nth-child(3){
        font-size: 17px;
    }
    .Search button{
        margin: 0;
        top: 0px;
        font-size: 17px;
    }
    .Inner{
        justify-content: space-between;
    }
    .Inner i {
        font-size: 18px;
        padding: 10px;
    }
    .Inner h2{
        font-size: 18px;
    }   
    .Inner{
        margin-top: 30px;
    }
} 
@media (max-width:480px) {
    .E-Map{
        display: none;
    }
    .input-open{
        width: 150px;
        height: 15px;
        padding: 10px;
        margin-right: -25px;
    }
    .N-Image{
        width: 10%;
    }
    .N-Image img{
        width: 250%;
    }
}